# Python bytecode and cache files
*.py[cod]
__pycache__/

# Virtual environments
env/
venv/
*.egg-info/

# Environment variables (sensitive)
.env

# Airflow logs and metadata
airflow-logs/
airflow.db
*.log

# IMDb downloaded files
dags/files/*.tsv.gz
dags/files/*.tsv

# Build output folders
build/
dist/

# Editor/IDE settings
.vscode/

# System files
.DS_Store
Thumbs.db


